@{
	var requestedController = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

    <!-- title -->
    <title>Home</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image" href="~/img/favicon.png.png">
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="~/css/all.min.css">
	<link rel="stylesheet" href="~/css/cart.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <!-- animate css -->
    <link rel="stylesheet" href="~/css/animate.css">
    <!-- mean menu css -->
    <link rel="stylesheet" href="~/css/meanmenu.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="~/css/main.css">
    <!-- responsive -->
	<link rel="stylesheet" href="~/css/responsive.css">
	<link rel="stylesheet" href="~/css/header.css">
	<link rel="stylesheet" href="~/css/profile.css">
	
</head>
<body>
    <header>
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
								<a asp-controller="home" asp-action="Index">
								<img src="~/img/tote_logo2.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="@(requestedController=="Home" ? "current-list-item" : "")"><a asp-controller="home" asp-action="Index">HOME</a></li>
								<li class="@(requestedController=="Shop" ? "current-list-item" : "")"><a asp-controller="shop" asp-action="Index">SHOP</a></li>
								<li ><a href="about.html">ABOUT</a></li>
								<li ><a href="contact.html">CONTACT</a></li>
								<li>
									<div class="container-fluid navbar navbar-light ">
									  <form asp-controller="shop" asp-action="search" method="get" class="d-flex">
										<input style="color: #fff !important" class="form-control me-2 bg-transparent" type="text" name="Key" placeholder="Search" aria-label="Search">
									  </form>
									</div>
								</li>
								<li>
									<a asp-controller="cart" asp-action="index" class="shopping-cart header-icons"><i style="font-size: 20px !important;" class="fas fa-shopping-cart"></i></a>
								</li>
								<li id="menu-dropdown" class="col-xl-1 col-md-0  justify-content-end ">
									<img id="avatar" class="position-relative rounded-circle dropdown-toggle" style="width: 50px" src="~/img/users/userLMK.jpg" alt="avatar">
									<ul style="margin-left: -82px;" id="sub-nav" class="position-absolute top-100 end-0">
										<li><a asp-action="index" asp-controller="profile" class="dropdown-item"><i class="fas fa-user me-2"></i> Cá nhân</a></li>
										<li><a class="dropdown-item" href=""><i class="fas fa-sign-out-alt me-2"></i> Đăng xuất</a></li>
									</ul>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>

						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
   
    </header>

	@RenderBody()

    <footer class="border-top footer text-muted">
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">About us</h2>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
								<li>support@fruitkha.com</li>
								<li>+00 111 222 3333</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="index.html">Home</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="services.html">Shop</a></li>
								<li><a href="news.html">News</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">Subscribe</h2>
							<p>Subscribe to our mailing list to get the latest updates.</p>
							<form action="index.html">
								<input type="email" placeholder="Email">
								<button type="submit"><i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>
							Copyrights &copy; 2019 - <a href="https://imransdesign.com/">Imran Hossain</a>,  All Rights Reserved.<br>
							Distributed By - <a href="https://themewagon.com/">Themewagon</a>
						</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    </footer>

	    <!-- Toast messsage when adding vege to cart -->
    <div id="toast-yes">
        <div id="toast-yes-img" class="img"><i class="fas fa-thumbs-up"></i></div>
        <div id="toast-yes-desc">A notification message..</div>
    </div>
    <div id="toast-no">
        <div id="toast-no-img" class="img"><i class="fas fa-thumbs-down"></i></div>
        <div id="toast-no-desc">A notification message..</div>
    </div>

	<!-- jquery -->
	<script src="~/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="~/bootstrap/js/bootstrap.min.js"></script>
	<!-- count down -->
	<script src="~/js/jquery.countdown.js"></script>
	<!-- isotope -->
	<script src="~/js/jquery.isotope-3.0.6.min.js"></script>
	<!-- waypoints -->
	<script src="~/js/waypoints.js"></script>
	<!-- owl carousel -->
	<script src="~/js/owl.carousel.min.js"></script>
	<!-- magnific popup -->
	<script src="~/js/jquery.magnific-popup.min.js"></script>
	<!-- mean menu -->
	<script src="~/js/jquery.meanmenu.min.js"></script>
	<!-- sticker js -->
	<script src="~/js/sticker.js"></script>
	<!-- main js -->
	<script src="~/js/main.js"></script>
	<script src="~/js/cart.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
