@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ShopModel

<!-- hero area -->
<div style="height: 450px !important;" class="hero-area features-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">Beautiful & High fashion</p>
						<h1>Shop</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<div class="single-product mt-100 mb-100">
	<div class="container">
		<div class="row mb-80">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div style="margin-bottom: 25px !important;" class="section-title">
					<h3><span class="orange-text">Our </span>Products</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="@Model.Tote.Image" alt="">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3> @Model.Tote.Name</h3>
					<p class="single-product-pricing"> @Model.Tote.Price $</p>
					<div class="single-product-form">
						<input id="detail_amount" type="number" value="1" min="1" max="10">
						<button onclick="addToCartInDetail(@Model.Tote.Id)" type="button" class="btn btn-outline-secondary btn-lg"><i class="fas fa-shopping-cart"></i> Add to Cart</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>